

body{
    background-image: url("../img/bg.jpg");
}

.dark-mode{
    background-image: url("../img/bg-black.jpeg");
    color: white;
}
.header{
    text-align: center;
    margin: 7rem auto;
    font-family: "Allerta Stencil"; 
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.levels button{
    background-color: transparent;
    border: none;
    transition: 0.5s;
    font-size: 1.5rem;
    color: rgb(242, 242, 242);
}

.levels button:hover{
    font-size: 2rem;
}

.theme{
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
.game-container{
    margin: auto;
    text-align: center;
}

.game-info{
    margin: auto;
    width: max-content;
}

.game-buttons{
    font-size: 1rem;
}

.timer{
    border: 1px solid red;
    background-color: black;
    color: red;
    margin: 1rem auto;
    padding: 5px;
    width:max-content;
    font-size: 2rem;
    text-align: center;
}
.best-score{
    width: max-content;
    margin: 20px auto;

}
.hints button{
    background-color: transparent;
    border: none;
    padding:0.1px;
    font-size: 1rem;
}
.used-hint{
    opacity: 50%;
}

.modal{
    margin: auto;
    font-size: 2rem;
    width: max-content;
}

.hide{
    display: none;
}

.emoji{
    font-size: 1.5rem;
    background-color: rgb(228, 225, 225);
}
.table{
    margin: auto;
    border-style: solid;
    background-color: white;
}

.table td{
    text-align: center;
    font-size: 1.5em;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.game-buttons{
    width: max-content;
    margin: 20px auto;
}

.game-buttons button{
    width: 120px;
    height: 50px;
    background-color: rgb(182, 182, 182);
}

.game-buttons button:hover{
    background-color: rgb(243, 243, 243);
}

.cell{
    color: transparent;
    background-color: rgb(210, 205, 205);
    border: 4px outset rgb(206, 206, 206);
}

.shown{
    background-color: rgb(228, 228, 228);
    border: 4px inset rgb(255, 255, 255);
    color: green;
}

.mark{
    background-color: rgb(198, 58, 58);
    border: none;
}

.safe{
    background-color: rgb(216, 103, 103);
}

.unavailable{
    color: gray;
}